@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('../fonts/Flat-UI-Icons.eot');
  src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

#map_element {
    overflow: hidden;
}

#map_element img {
    max-width:none;
}

#mapInfoBox{
    pointer-events:none !important;
}


#mapInfoBox_contentDiv,
#mapInfoBox_close {
    pointer-events: auto !important;
    cursor: pointer;
}

#no_data {
    margin-bottom: 30px;
}

#search_ol {
    background-color: #1A1D18;
    /*background-color: #FFFFFF;*/
    position: absolute;
    z-index: 999;
    width: 225px;
    text-align: left;
    left: 15px;
    top: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height:30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
    opacity: .9;
    border: 1px solid transparent;
    /*margin-left: -245px;*/
}

#search_results_ol {
    position: absolute;
    z-index: 999;
    width: 260px;
    left: 15px;
    top: 48px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 0px;
    overflow: hidden;
}

#search_results_ol > div.active {
    background-color: #EBF2FE;
}
#search_results_ol > div:last-child {
    padding-bottom: 2px;
}
#search_results_ol > div {
    padding-left: 10px;
    cursor: pointer;
}
#search_results_ol > div:first-child{
    padding-top:5px;
}
#search_results_ol > div:not(:first-child):before{
    content: "";
    display: block;
    height: 1px;
    width: 110%;
    background: #D8D8D8;
    margin-left: -10px;
    margin-bottom: 5px;
}

#search_results_ol > div:hover{
    background-color: #D6D6D6;
}

#search_ol.active {
    border-color: #4d90fe;
}

#search_ol input {
    border:0;
    height:30px;
    outline: 0;
    padding-left: 5px;
    color: #FFFFFF;
    background-color: transparent;
    width:100%;
    -webkit-font-smoothing:antialiased;
}

#search_ol_button {
    float: right;
    position: relative;
    background-color: #3A91F0;
    width: 35px;
    height: 32px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: -35px;
    color: #FFFFFF;
    margin-top: -1px;
    -webkit-font-smoothing: none;
    -webkit-transition: 0;
    transition: 0;
}

#search_ol_button i {
    right: 7px;
    top: 9px;
    position: absolute;
}

#show_me {
  padding: 2px;
  cursor: pointer;
  color:#4A98EC;
  float:right;
  display: inline;
}
/*
#chicken{
    pointer-events:none !important;
}

#chicken_contentDiv,
#chicken_close {
    pointer-events: auto !important;
    cursor: pointer;
}
*/

.cancel_request {
    position: absolute;
    background-color: #FFFF66;
    z-index: 1000;
    widtH: 500px;
    text-align: center;
    left: 200px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    display: none;
}

.clear_search {
    position: absolute;
    color: #FFFFFF;
    right: 5px;
    font-size: 20px;
    top: 2px;
    cursor: pointer;
}

h3 small {
    font-size:  smaller;
    font-weight: normal;
}

button {
    -moz-box-shadow:inset 0px 1px 0px 0px #23395e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #23395e;
    box-shadow:inset 0px 1px 0px 0px #23395e;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
    background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
    
    background-color:#2e466e;
    
    border:1px solid #1f2f47;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    
}
button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
    background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
    background-color:#415989;
}
/*
button:active {
    position:relative;
    top:1px;
}
*/
.dropdown-group {
    position: relative;
    min-width: 148px
    //display-inline:block;
    //vertical-align: middle;
}

.caret {
	display: inline-block;
	color: #FFFFFF;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-top: 6px;
	content: "";
	opacity: 1;
	filter: alpha(opacity=50);
}

.info-hover,
.dropdown-group-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
    }
    
.dropdown-group-menu li {
    padding: 5px;
    margin-bottom: -5px;
    margin-top:-5px;
    cursor: pointer;
}
    
.dropdown-group-menu li:hover{
    background-color: #87A4C1;
    color: #FFFFFF;
}
    
ul.list li {
    list-style-type: circle;
}
    
.info-button {
    cursor: pointer;
       
}
    
.info-button:before {
    content: 'i';
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    display: inline-block;
    width:16px;
    height:16px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 19px;
    color: #FFFFFF;
    background : #2385BA ;
    text-indent: 6px;
}

.info-content {
    display: none;
}

.info-group {
    display: inline;
}

.introjs-helperLayer {
  background-color: transparent !important;
}

.introjs-overlay {
  opacity: 0 !important;
}

small {
    font-size: 11px;
    font-weight: 300;
    font-style: italic
}

.gdd_details_prompt {
    position: relative;
    z-index: 999;
    left: 0px;
    opacity: 1;
    padding: 1px;
    display: inline-block;
}

.gdd_details_hide {
    display: none !important;
}

.gddDetailsCheckbox {
    cursor: pointer;
    z-index: 999;
    opacity: 1;
}

.gddDetailListTable {
	font-size: 11px;
	/*margin: 0px 0px 5px;*/
	/*border: 1px solid #888888;*/
	}

.gddDetailListTable tr {
	height: 11px;
	padding: 0px;
	}

.gddDetailListTable td {
	text-align: left;
	padding: 0px;
	//height: 11px;
	}

#tabsGDD {
	position: relative;
	overflow: hidden;
}

#aboutGDD {
	position: absolute;
	bottom: 0;
	right: 0;
}

#survey {
  margin-right:10px;
	font-size:16px;
}

#survey a{
	vertical-align: middle;
}

/* Hides from display */
.hide {
    display: none;
}

.my_location {
    width: 19px;
    height: 19px;
    cursor: pointer;
    right: 5px;
    top: 5px;
}

.my_location > div {
    background-image: url('/app/site/groups/3048/components/com_purdue_gdd/assets/img/geolocation_white.png');
    width: 19px;
    height: 19px;
}

/* Fixes issue withMAP Overlays */
.olControlMousePosition.olControlNoSelect {
    right:100px;
    color: white;
}

.olControlPanZoom{
    margin-top: 45px;
}

.result_underline_ol {
    text-decoration: underline;
    font-weight: bolder;
}

.search_ol_intro {
    position: absolute;
    z-index: 999;
    width: 260px;
    text-align: left;
    left: 15px;
    top: 15px;
    height:35px;
    pointer-events: none;
}

#drop_comparison {
		width: 100px;
}

/* Select container was to small forcing to be larger */
.select2-container {
    width: 200px;   
}

.select2-disabled {
    display: none !important;
}

#tagContent .select2-container-multi .select2-choices .select2-search-choice {
		padding: 1px 3px 1px 12px;
		margin: 3px 0 3px 3px;
}

#tagContent .select2-search-choice-close {
		top: 1px;
		left: 2px;
}

#tagContent .select2-container-multi .select2-choices .select2-search-field input {
		line-height: 12px;
		margin: 0;
		padding: 0px 5px;
		max-width: 50px;
}

#tagContent .select2-container-multi .select2-choices .select2-search-field input.select2-default {
		max-width: 150px;
}

#tagContent .select2-container-multi .select2-choices {
		min-height: 22px;
		cursor: pointer;
}

#tagContent .select2-container-multi .select2-choices li:nth-child(4){
		display: none;
}

#tagContent .select2-container-multi .select2-choices:after{
		content: ' ';
		display: block;
		position: absolute;
		top: -1px;
		right: 0;
		bottom: 0;
		width: 15px;
		background: url('select2.png') 0 1px no-repeat;
}

#tagContent .select2-container-multi.select2-dropdown-open .select2-choices:after{
		background-position: -18px 1px;
}


.select2-results .analog-highlight{
    background: none repeat scroll 0 0 #87a4c1;
    color: #fff;
}

.select2-results .analog-highlight .select2-result-label:after{
		content: " (Similar GDD Year)";
}

#drop_comparison .analog-highlight:after{
		content: " (Similar GDD Year)";
}


.sptext_line {
    height: inherit;
    display: inline-block;
    vertical-align: top;
    /*padding-right: 10px;*/
}

.tab_content h3{
    margin: 5px 0 5px 0;
}

.tagContent table {
    border-top: 5px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
}

#tagContent1 tr td:first-child,
#tagContent2 tr td:first-child{
		padding-left: 0px;
}

#tagContent1 tr td:last-child,
#tagContent2 tr td:last-child{
		padding-right: 0px;
}

#tagContent1 table td {
		padding-right: 0.4em;
		padding-left: 0.4em;
}

.text_line {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 19px
}

.toolTips {
	font-family: 'MuliRegular', Verdana, Geneva, sans-serif;
    font-weight: bold;
    margin-top: 3px;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-widget-content {
    border: none;
}
