/*

	-- -- -- -- -- -- --
	main template CSS

	where some of the magic happens
	-- -- -- -- -- -- --

*/
html {
	font-family: 'latoregular', sans-serif;
	font-weight: normal;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* Body */
body {
	font-family: 'latoregular', sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
	color: #666;
	min-width: 960px;
	text-rendering: optimizeLegibility;
	max-width: 3000px;
	margin: 0 auto;
}

/* Messages */

#content .warning,
#content #system-message dd.warning {
	background-color: #cea638;
	background-image: none;
	color: #fffff !important;
	border: none;
	text-shadow: none;

	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
	-o-border-radius: .25em;
	border-radius: .25em;
}

.info, #system-message dd.info {
	background-color: #84a7db;
	background-image: none;
	color: #fffff !important;
	border: none;
	text-shadow: none;

	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
	-o-border-radius: .25em;
	border-radius: .25em;
}

.help, #system-message dd.help {
	background-color: #d89c3d;
	background-image: none;
	color: #fffff !important;
	border: none;
	text-shadow: none;

	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
	-o-border-radius: .25em;
	border-radius: .25em;
}

/* Blocks */

.container {
	background: #eaedfb;
}

/* Inputs */
input[type=text],
input[type=password],
input[type=email],
textarea {
	font-family: 'latoregular', sans-serif;
	font-size: 1em;
	line-height: 1.61803399em;
	max-width: 100%;
	padding: 0.4045084975em;
	outline: none;
	border: 1px solid #D9D9D9;
	border-color: rgba(0, 0, 0, .19) rgba(0, 0, 0, .13) rgba(0, 0, 0, .07);
	background: #F0F0F0;
	background: rgba(0, 0, 0, .039);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus {
	background-color: #fff;
	border-color: #0fa1ca;
}
.placeholder-support {
	color:#aaa;
}

input[type="submit"] {
	line-height: 1.61803399em;
	padding: 0.4045084975em 1em;
	border: none;
	background: #32343f;
	color: #fff;
	border: 1px solid #383a46;

	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
	-o-border-radius: .25em;
	border-radius: .25em;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input[type="submit"]:hover {
	background: #8d3026;
	border-color: #8d3026;
}

/* Links */
a,
a:active,
a:visited {
	text-decoration: none;
	color: #0645ad;  /* #6897a4; #6aa6db; */
	border-bottom: 1px dotted;
}
a:hover {
	color: #222;
}

/* Elements */
/* Prevents sub and sup affecting line-height in all browsers */
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
b,
strong {
	font-weight: bold;
}
i,
em {
	font-style: italic;
}

/* Lists */
ul {
	list-style: disc;
	margin: 0 0 0 2em;
}
ul li {
	margin: 0.5em 0;
}
ol {
	list-style: decimal;
	margin: 0 0 0 2em;
}
ol li {
	margin: 0.5em 0;
}
iframe {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
p {
	margin: 1em 0;
}
hr {
	clear: both;
	height: 1px;
	background: #ddd;
	margin: 2em 0;
	border: none;
}
abbr {
	border-bottom: 1px dotted #333;
}
dfn {
	font-style: italic;
}
dl dt {
	font-weight: bold;
}
dl dd {
	margin-left: 2em;
}
img {
	border: 0;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #414141;
	margin: 1em 0;
	font-family: 'latolight';
}
#droppables h1,
#droppables h2,
#droppables h3,
#droppables h4,
#droppables h5,
#droppables h6 {

}
h1 {
	font-size: 3em;
	line-height: 1.3em;
}
h2 {
	font-size: 2.2em;
	line-height: 1.3;
}
h3 {
	font-size: 1.5em;
}
h4,
h5,
h6 {
	/*font-size: 1.1em;*/
}

blockquote {
	margin-left: 2em;
	color: #888;
	position: relative;
	background-color: #fff;
}
blockquote:before {
	content: "\275D";
	font-family: 'Fontcons';
	position: absolute;
	top: 0;
	left: -2em;
	color: #ccc;
}

/* Pre, Code, TrueType. */
pre {
	font-family: "Bitstream Vera Sans Mono", Courier, Monaco, ProFont, "American Typewriter", "Andale Mono", monospace;
	color: #555;
	margin: 1em 0 1em 0;
	padding: 0.5em 1em;
	font-size: 0.85em;
	line-height: 1.95em;
	word-wrap: break-word;
	white-space: pre;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	background-image: -webkit-linear-gradient(#eee 1px, transparent 1px),
	-webkit-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
	background-image: -moz-linear-gradient(#eee 1px, transparent 1px),
	-moz-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
	background-image: -ms-linear-gradient(#eee 1px, transparent 1px),
	-ms-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
	background-image: -o-linear-gradient(#eee 1px, transparent 1px),
	-o-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
	background-image: linear-gradient(#eee 1px, transparent 1px),
	linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
	background-size: 100% 1.95em;
	background-position: 0 -1px;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-ms-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
}
body .wikipage pre,
body .wikipage .pre,
.pre {
	background-color: #fff;
}
code,
tt {
	border: 1px solid #d7d7d7;
	background-color: #fff;
	font-family: "Bitstream Vera Sans Mono", Courier, Monaco, ProFont, "American Typewriter", "Andale Mono", monospace;
	font-size: 0.91em;
	padding: 0.2em 0.4em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-ms-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
}

/* Table */
table {
	clear: left;
	width: 100%;
	text-align: left;
	font-size: 1em;
	border-collapse: collapse;
	border-bottom: 1px dotted #dadada;
}
table caption {
	line-height: 1.6em;
	padding: 0.4045084975em 0.61803399em;
	text-align: left;
}
table th,
table td {
	vertical-align: top;
	line-height: 1.6em;
	padding: 0.4045084975em 0.61803399em;
	border-bottom: 1px solid #dadada;
}
table th {
	font-weight: bold;
	white-space: nowrap;
}

/* Core classes */
.nowrap {
	white-space: nowrap;
}
.highlight {
	background-color: #FFFF99;
}

/* Splash */
#splash {
	margin: 0 30px;
}
#splash .inner {

}
#splash #system-message {
	margin: 0;
}

/* Search */
#searchform {
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
}
#searchform:after {
	content: "\f002";
	color: #999;
	display: block;
	font-family: 'Fontcons';
	position: absolute;
	right: 10px;;
	top: 50%;
	font-size: 1.8em;
	margin-top: -0.5em;
	pointer-events:none;
}
#searchform legend {
	display: none;
}
#searchform fieldset {
	border: none;
	padding: 0;
	position: relative;
	border-left: 1px solid #cecdcd;
}
#searchform fieldset:after, #searchform fieldset:before {
	display: block;
	position: absolute;
	content: '';
	height: 100%;
	width: 1px;
	background: #fff;
	top: 0;
	right: 0;
}
#searchform fieldset:before {
	left: -2px;
	right: auto;
}
#searchform input {
	display: block;
	border: none;
	float: left;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}
#submitquery {
	margin: 0;
	padding: 1.4em 1em 1.4em 1em;
	background: #333 url("../images/layout/search.png") center center no-repeat;
	background: rgba(0, 0, 0, 0.15) url("../images/layout/search.png") center center no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
	font-size: 1em;
	cursor: pointer;
	color: transparent;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
@-moz-document url-prefix() {
	#submitquery {
		padding: 1.3em 1em 1.3em 1em;
	}
}
html.opera #submitquery {
	padding: 1.2em 1em 1.2em 1em;
}
#submitquery:hover {
	background-color: #000;
}
#searchword-label {
	display: none;
}
#searchword {
	margin: 0;
	background-color: #e0e0e0;
	border-left: 1px solid #222;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	width: 170px;
	height: 4em;
	padding: 0 3em 0 1em;
	position: relative;
}
html.opera #searchword {
	padding: 1.2em 1em 1.2em 1em;
}
#searchword:focus {
	background: #fff;
	width: 300px;
}

/* Header */
#masthead {
	margin: 0;
	padding: 0;
	position: relative;
	background: #202128;
}
#masthead .inner {
	padding: 0 30px;
}
#masthead .inner:before,
#masthead .inner:after {
	content: "";
	display: table;
	line-height: 0;
}
#masthead .inner:after {
	clear: both;
}
#masthead .geoSite {
	font-family: 'latoblack', sans-serif;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 0;
	margin: 0;
	float: left;
	display: block;
	background: transparent;
	border: none;
	font-weight: normal;
	font-style: normal;
	padding: 20px 0;
}

#masthead .geoSite span {
	display: block;
	width: 170px;
	height: 38px;
	line-height: 0;
}

.tweet {
	height: 38px;
	display: inline-block;
	padding: 1em;
	/* display: none; */
	overflow: hidden;
	line-height: 0;
	border: none;
	box-sizing: border-box;
	margin: 20px 0;
	float: right;
}

.tweet svg {
	height: 1.4em;
}

.tweet svg * {
	fill: #fff;
}

/* Trail */
#sub-masthead {
	margin: 0;
	padding: 0 30px;
	vertical-align: baseline;
	background: #e0e0e0;
	display: block;
	font-size: 0.85em;
	position: relative;
	z-index: 22;

	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
	-ms-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
	-o-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
}
#sub-masthead .inner {
	padding: 0;
}
#sub-masthead:before,
#sub-masthead:after {
	content: "";
	display: table;
	line-height: 0;
}
#sub-masthead:after {
	clear: both;
}

/* Breadcrumbs */
#trail {
	margin: 0;
	padding: 0;
}
#trail span.pathway {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 4em;
}
#trail span.tagline {
	font-family: 'latobold';
}
#trail a {
	border: none;
	font-size: 0.9rem;
}
#trail a:hover {
}
#trail .sep {
	padding: 0 0.2em;
	color: #666;
}

/* Account */
#account .menu {
	margin: 0;
}
#account {
	float: right;
	list-style: none;
	margin: 0;
	padding: 20px 0;
	position: relative;
	z-index: 798;
}
#account li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	vertical-align: middle;
	zoom: 1;
	position: relative;
}
#account li > a {
	display: block;
	padding: 0 30px;
	border: none;
	color: #fff;
	font-size: 1.1em;
	line-height: 38px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	position: relative;
	text-transform: uppercase;

	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
#account li>a:hover,
#account li>a:focus,
#account a:hover,
#account a:focus {
	color: #b5b3b6;
	background: #191a20;
}
#account li > a:before,
#account li > a:after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 1px;
	top: 0;
	left: -2px;
	background: #333339;
}
#account li > a:after {
	left: auto;
	right: 0;
}
#account li > a span {
	font-size: 0.8em;
}
#account .account-details {
	color: #fff;
	border: none;
}
#account #account-info {
	padding: 0;
	white-space: nowrap;
	max-width: 30em;
	position: relative;
}

#account #account-info:after {
	content: "";
	border-color: #666 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 5px 5px 0 5px;
	height: 0;
	width: 0;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 1.6em;
	right: 15px;
}

#account #account-info a {
	font-size: 1.1em;
	line-height: 3.4em;
	display: block;
	padding-right: 35px;
	padding-left: 60px;
	position: relative;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

#account #account-info a:before,
#account #account-info a:after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 1px;
	top: 0;
	left: -2px;
	background: #333339;
}

#account #account-info a:after {
	left: auto;
	right: 0;
}

#account.loggedin {
	cursor: pointer;
}

#account img {
	float: left;
	margin: 0 0.5em 0 0;
	position: absolute;
	top: 0.3em;
	left: 10px;
	height: 2.4em;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	border: 0.25em solid #29292E;
}
#account span.account-email {
	display: block;
	color: #bbb;
	font-size: 85%;
	margin-right: 3em;
}
#account-links {
	padding-left: 1px;
	position: absolute;
	visibility: hidden;
	min-width: 100%;
	right: 1px;
	top: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#account li ul {
	background: #32343f;
	margin-left: 0;
}
#account li:hover > #account-links,
#account li:focus > #account-links {
	visibility: visible;
}
#account li ul li {
	float: none;
	border: none;
	border-top: 1px solid #2a2c34;
	position: relative;
}
#account li ul li:before {
	content: '';
	display: block;
	height: 1px;
	background: #4A4E5E;
	width: 100%;
	top: 0;
	left: 0;
}
#account li ul li:first-of-type {
	border-top: 0;
}
#account li ul li:first-of-type:before {
	display: none;
}
#account li ul li a {
	display: block;
	color: #fff;
	position: relative;
	font-size: 1em;
	line-height: 1em;
	border: none;
	padding: 0.8em 15px 0.8em 60px;

	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
#account li ul li a:hover,
#account li ul li a:focus {
	background-color: #23242c;
}

#account li ul li a:before {
	content: "";
	display: inline-block;
	font-family: 'Fontcons';
	font-size: 1.2em;
	width: 1em;
	height: 1em;
	top: 50%;
	left: 25px;
	margin-top: -0.4em;
}
#account li ul li#account-dashboard a:before {
	content: "\f009";
}
#account li ul li#account-profile a:before {
	content: "\f007";
}
#account li ul li#account-messages a:before {
	content: "\2709";
}
#account li ul li#account-logout a:before {
	content: "\f011";
}

#account li ul li a:before,
#account li ul li a:after {
	background: none;
}

#account li ul li a:after {
	display: none;
}

/* Navigation */
#nav {
	float: right;
	border: none;
	padding: 0;
	margin: 0;
}
#nav h2 {
	display: none;
}
#nav ul.menu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#nav ul.menu,
#nav ul.menu li,
#nav ul.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav ul.menu {
	position: relative;
	z-index: 797;
	float: left;
	padding: 0;
	width: 100%;
}
#nav ul.menu li {
	float: left;
	vertical-align: middle;
	zoom: 1;
	position: relative;
}
#nav ul.menu li:hover,
#nav ul.menu li:focus {
	z-index: 799;
	cursor: default;
}
#nav ul.menu ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 798;
	width: 100%;

	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
#nav ul.menu ul li {
	float: none;
}
#nav ul.menu ul ul {
	top: -1px;
	right: 100%;
}
#nav ul.menu li:hover > ul,
#nav ul.menu li:focus > ul {
	opacity: 1;
	visibility:visible;
}

/* Drop-Down Menu Theme */
#nav ul.menu {
	font-weight: normal;
	margin-right: 20px;
	padding: 20px 0;
}
#nav ul.menu li {
	padding: 0;
	border: none;
	font-size: 1.1em;
	line-height: 38px;
}
#nav ul.menu li:hover {

}
#nav ul.menu>li.active>a,
#nav ul.menu li.active a {
	position: relative;
}
#nav ul.menu li.active li a {
	color: #fff;
	background: transparent;
}
#nav ul.menu li li.active a {
	color: #fff;
	background: transparent;
}
#nav ul.menu>li.active:hover>a:after,
#nav ul.menu>li.active>a:hover:after {
	display: none;
}

#nav ul.menu span.separator {
	display: block;
	height: 4px;
	background: #F2F2F3;
	margin: -1px 0;
	border: none;
	border-top: 1px #E2DFDF solid;
}
#nav ul.menu a {
	display: block;
	border: none;
	color: #fff;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 0 10px;
}
#nav ul.menu ul li a {
	padding: 0.8em 1em;
	text-transform: none;
	border-top: 1px solid #3a3a3a;
	color: #747474;
	border: none;
	font-size: 1.2em;
}
#nav ul.menu li:hover > a,
#nav ul.menu li:focus > a {
	color: #111;
}
#nav ul.menu li.active li a {
	color: #747474;
}
#nav ul.menu li.active li a:hover,
#nav ul.menu li.active li a:focus,
#nav ul.menu a:hover,
#nav ul.menu a:focus {
	color: #111;
}
#nav ul.menu li:hover > a,
#nav ul.menu li.parent:hover > a,
#nav ul.menu li.parent:focus > a
#nav ul.menu li.parent>a:hover,
#nav ul.menu li.parent>a:focus {
	background-color: #FFF;
}
#nav ul.menu ul li.active a,
#nav ul.menu ul li a:hover,
#nav ul.menu ul li a:focus,
#nav ul.menu li.parent>ul li a:hover,
#nav ul.menu li.parent>ul li a:focus {
	background-color: #eee;
}
#nav ul.menu a:active {
	color: #ECECC4;
}
#nav ul.menu>li.active>a:after {
	content: "";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: #8d3026;
}
/* Second level */
#nav ul.menu ul {
	min-width: 14em;
	padding: 0;
	margin-left: -1px;
	background: #fff;
	border-top: none;
	-webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
	text-align: right;
}
/* Third level */
#nav ul.menu ul ul {

}
/* No poiner for third level */
#nav ul.menu ul ul small.nav-ul-after,
#nav ul.menu ul ul:after {
	display: none;
}
#nav ul.menu ul li {
	font-weight: normal;
	background: none;
	border-top: 1px solid #eee;
	font-size: 0.8em;
	line-height: 1.2em;
}
/* Symbol indicating another level */
#nav ul.menu ul li.parent>a:after {
	font-family: 'Fontcons';
	content: "\2039";
	font-size: 0.85em;
	line-height: 1.2em;
	font-size: 0.85em;
	line-height: 1.2em;
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	text-align: right;
}

#nav ul.menu ul ul li {
	font-size: 1em;
}

/* Wrap */
#wrap {
}

/* Content */
#content {
	margin: 0 0;
	position: relative;
	overflow: hidden;
}
#content:after {
	content: "";
	display: table;
	line-height: 0;
	clear: both;
}
/* [!] J2.5 Hide edit buttons etc. on com_content pages */
.com_content ul.actions {
	display: none;
}
/* Content header */
.com_content .content-header,
#content-header {
	margin: 0;
	padding: 1em 0;
	border-bottom: 1px dotted #e1e1e1;
}

.com_content .content-header h2,
#content-header h2 {
	margin: 0;
	padding: 0.2em 30px 0.4em 30px;
	font-size: 3em;
}
#content-header-extra {
	position: absolute;
	right: 30px;
	top: 2em;
	text-align: right;
	min-width: 300px;
}
#content-header-extra ul,
#content-header-extra li,
#content-header-extra p {
	margin: 0;
	padding: 0;
}
#content-header-extra ul li {
	display: inline-block;
	margin-left: 1em;
	list-style: none;
}
.com_content .withleft .content-header {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
}
.com_content .withleft {
	padding-top: 9em;
}

/* Footer */
#footer {
	padding: 30px;
	min-height: 100px;
	color: #fff;
	font-size: 0.9em;
	background: #282a33;
}
#footer .hubInfo h3 {
	margin: 0 0 0 0;
	padding: 0 1.2em 0 0;
	font-size: 2.8em;
	font-family: 'latolight';
	color: #6aa5db;
	position: relative;
}
#footer .hubInfo h3.scrolled {
	cursor: pointer;
}
#footer .hubInfo h3.scrolled:after {
	position: absolute;
	content: 'c';
	color: #fff;
	font-family: "geo";
	font-size: 0.8em;
	display: block;
	height: 1em;
	width: 1em;
	right: 0;
	bottom: -0.2em;
	line-height: 1em;

	-webkit-animation-name: float;
	-webkit-animation-duration: 1.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	animation-name: float;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	timing-function: linear;
}
@-webkit-keyframes float {
	0% {bottom: -0.3em;}
	50% {bottom: 0.1em;}
	100% {bottom: -0.3em;}
}

@-moz-keyframes float {
	0% {bottom: -0.3em;}
	50% {bottom: 0.1em;}
	100% {bottom: -0.3em;}
}
#footer .myhubInfo {
	float: left;
}
#footer .hubzeroInfo {
	float: right;
}

#footer h2 {
	display: none;
}
#footer h3 {
	margin: 0;
	padding: 0 0 0.6em 0;
	color: #fff;
}
#footer a {
	color: #BFCAD4;
	border-bottom: 1px dotted;
}
#footer a:hover {
	color: #6aa6db;
	border-bottom: 1px solid;
}
#footer ul {
	list-style: none;
	margin: 0;
}
#footer li {
	padding: 0.4em 0;
	margin: 0;
}
/* Ancillary navigation */
#ancillary {
	padding: 30px 0;
}
#ancillary ul {
	padding: 10px 0 0 0;
	border-top: 1px dotted #646566;
}
#footer .inner {
	padding: 0 30px;
}

/* Introduction */
body #introduction {
	background: #dfe3f2 url("../images/layout/noise-lite.png");
	border: none;
	color: #666;
	margin: -1px 0px 3em 0px;
	padding-right: 30px;
}
/* White background for icon */
body #introduction small.intro-before,
body #introduction:before {
	top: 32px;
	left: 32px;
	border: none;
	-webkit-border-radius: 69px;
	-moz-border-radius: 69px;
	-ms-border-radius: 69px;
	-o-border-radius: 69px;
	border-radius: 69px;
	background-color: #d5daeb;
	-webkit-box-shadow: 0 0px 20px 15px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0px 20px 15px rgba(255, 255, 255, 0.28);
	-ms-box-shadow: 0 0px 20px 15px rgba(255, 255, 255, 0.28);
	-o-box-shadow: 0 0px 20px 15px rgba(255, 255, 255, 0.28);
	box-shadow: 0 0px 20px 15px rgba(255, 255, 255, 0.28);
}
/* Icon */
body #introduction small.intro-after,
body #introduction:after {
	color: #fff;
	font-size: 40px;
	top: 48px;
	left: 49px;
}
/* Text styles */
body #introduction h3 {
	color: #747474;
}
body #introduction li:before {
	content: "";
	display: none;
}
body #introduction p {
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
/* Side shadows */
body #introduction .clear:before,
body #introduction .clear:after {
	content: "";
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	width: 30px;
	left: -30px;
	background: #e1e1e1 url("../images/layout/noise-lite.png");
	-webkit-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	-o-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
}
body #introduction .clear:after {
	left: auto;
	right: -30px;
	-webkit-box-shadow: inset 3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: inset 3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	-o-box-shadow: inset 3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	box-shadow: inset 3px 0px 4px -3px rgba(0, 0, 0, 0.25);
}

/* Grid headings */

#content .section .grid h2, #content .first h2 {
	border-top: 0;
}

/* Content columns */
.section {
	padding: 30px;
	position: relative;
}
.section .section {
	padding: 30px 0;
}
#introduction + .section {
	padding: 0 30px 30px 30px;
}
body #page_content .main {
	background: none;
}
body #page_header {
	padding-bottom: 25px;
}

/* Subjects (with right aside) */
.subject {
	margin: 0;
	padding: 0;
	margin-right: 270px;
}
#page_content .subject:before {
	right: 250px;
}
#page_content .section .subject:before {
	right: 230px;
	bottom: -10px;
}
.subject.contracted:before {
	right: 40%;
	margin-right: 20px;
}
.section .section .subject:before {
	display: none;
}
.subject:after {
	content: "";
	display: table;
	line-height: 0;
	clear: both;
}
/* Asides (right side) */
.aside {
	float: right;
	width: 210px;
	padding: 0 0 0 30px;
}
/* Side fade (darker/left to lighter/right) */
.aside small.aside-before,
.aside:before {
	content: "";
	display: block;
	height: auto;
	position: absolute;
	top: 30px;
	bottom: 30px;
	border: 0;
	width: 1px;
	background-color: #ddd;
	right: 269px;
	_display: none;
}
.com_content .aside:before {
	top: 100px;
}
#page_content .aside:before {
	top: 75px;
	right: 259px;
}
#page_content .section .aside:before {
	right: 239px;
	top: 0;
	bottom: 0;
}
.aside.expanded:before {
	right: 40%;
}
.aside.expanded:after {
	right: 40%;
	margin-right: 20px;
}
.subject + .clear + .aside:before,
.subject + .clear + .aside:after,
.subject + .clear + .aside + .subject:before,
.section .section .aside small.aside-before,
.section .section .aside small.aside-after,
.section .section .aside:before,
.section .section .aside:after {
	display: none;
}
#introduction .subject small.subject-before,
#introduction .aside small.aside-before,
#introduction .aside small.aside-after,
#introduction .subject:before,
#introduction .aside:before,
#introduction .aside:after {
	display: none;
}
.aside p {
	margin: 1em 0;
}
.aside h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}
/* Fieldsets */
.aside fieldset {
	margin: 1em 0 2em 0;
	padding: 0;
	background: #fff;
}
.aside>fieldset {
	margin-top: 0;
}
.aside fieldset label {
	display: block;
	margin: 0;
	border-bottom: 1px solid #eee;
	padding: 1em 0;
}
.aside fieldset label input,
.aside fieldset label select,
.aside fieldset label textarea {
	width: 100%;
}
.aside fieldset label input.option {
	width: auto;
}
.aside fieldset legend {
	display: none;
}
.aside fieldset fieldset legend {
	display: block;
	font-weight: bold;
	padding: 0 1em;
	margin: 0;
}
.aside fieldset fieldset {
	margin: 1em;
	padding: 0;
	border: 1px solid #DEE4CD;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.aside fieldset .submit {
	margin: 0;
	padding: 0.5em 0;
}

.aside ul {
	border-bottom: 1px solid #d5daeb;
	margin: 0;
	list-style: none;
}
.aside ul ul {
	padding: 0;
	margin: 0;
	background: none;
	border-bottom: none;
}
.aside li {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #d5daeb;
}
.aside li.parent {
	border-bottom: none;
}
.aside li li {
	padding-left: 20px;
}
.aside li strong,
.aside li a,
.aside li span.member {
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
	border: none;
	font-weight: normal;
	font-style: normal;
	position: relative;
}
.withleft .aside li#current {
}
.aside .sub-nav li strong,
.aside .sub-nav li.active>a,
.aside li#current>a {
	color: #2C2C2C;
	font-weight: bold;
}
.aside .sub-nav li strong:before,
.aside .sub-nav li.active a:before,
.aside li#current>a:before {
	border-color: transparent transparent transparent #2C2C2C;
}
.aside .container h3,
.aside .container h4 {
	color: #333;
	padding: 1.8em 0 0.4em 30px;
	margin: 0 0 0 -30px;
	font-weight: normal;
	padding: 0.7em 0 0.7em 30px;
}
.aside .container {
	border-top: 1px solid #ddd;
	position: relative;
	padding: 0.7em 0 0 22px;
	margin-left: -29px;
	margin-bottom: 3em;
	border-radius: 0;
}
.aside .container ol,
.aside .container ul {
	margin-bottom: 1.618em;
	padding: 1em 0 1.618em 0;
	border-bottom: 1px dotted #bAbAbA;
}
.aside .container ol ol,
.aside .container ul ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #dadada;
	border-bottom: none;
}
.aside .container ol ol li,
.aside .container ul ul li {
	padding-left: 1.618em;
}
.aside .container .tags {
	padding-left: 10px;
}
.aside .container .tags li {
	background: transparent;
	border: none;
	padding: 0;
}
.aside ul.textboxlist-holder li {
	border: none;
}
.aside ul.textboxlist-holder li a:before {
	display: none;
}
.aside ul.textboxlist-holder li.bit-box a.closebutton {
	padding: 0;
}

/* NOTE: added to some containing div to dictate what side (left or right) an "aside" column will appear. */
.withleft {
	border: none;
}
.withleft #content-header {
	margin: 0;
}
.withleft h2:first-child {
	margin-top: 0;
}
/* Subjects (with left aside) */
.withleft .subject {
	margin-right: 0;
	margin-left: 270px;
}
/* Asides (left side) */
.withleft .aside {
	float: left;
	padding: 0 30px 0 0;
}
/*
Reposition the side fade to the left-hand side
Also, alter the gradient so it fades in the right direction (darker/right to lighter/left)
*/
.withleft .aside:before {
	top: 9em;
	right: auto;
	left: 270px;
}
.com_content .withleft .aside:before {
	top: 9em;
}
.withleft .aside ul {
	padding-right: 30px;
	margin-right: -30px;
	border-bottom: none;
}
.withleft .aside ul>li:first-child {
	border-top: none;
}
.withleft .aside ul ul {
	border: none;
	padding-right: 0;
	margin-right: 0;
}
.withleft .aside ul ul>li:first-child {
	border-top: 1px solid #ddd;
}
.withleft .aside li .separator {
	display: block;
	height: 2.2em;
}
.withleft .aside li a span,
.withleft .aside li span span {
	border: none;
}


.subject #hubForm fieldset fieldset {
	padding: 0 1em 1em 1em;
	margin-top: 1em;
}
.subject #hubForm .submit {
	margin-right: 0;
}
.com_content .contentpaneopen {
	padding: 30px;
}
.com_content .heading {
	padding: 0;
}
.com_content .withleft .contentpaneopen {
	padding: 0;
}

section.section {
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

section.section>.section-inner {
	display: table-row;
}
section.section .subject {
	display: table-cell;
	vertical-align: top;
	margin-right: 0;
	padding-right: 30px;
}
section.section .subject .contentpaneopen {
	padding: 0;
}
section.section .aside {
	float: none;
	display: table-cell;
	vertical-align: top;
	width: 210px;
	padding: 0 30px 0 0;
}
section.section .aside:before {
	left: 269px;
	right: auto;
	top: 30px;
}
section.section .aside + .subject {
	padding-left: 30px;
	padding-right: 0;
}
section.section .subject + .aside {
	padding: 0 0 0 30px;
}
section.section .subject + .aside:before {
	left: auto;
	right: 269px;
}
#page_content section.section {
	padding: 0;
}

/* Metadata */
.metadata p {
	font-size: 90%;
	margin: 0.2em 0;
	padding: 0 0 0 20px;
}

/* Browse button */
#content .section .browse p {

}
#content .section .browse a {
	font-weight: normal;
	font-size: 1em;
	background: #6aa6db;
	padding: .5em 2.2em .55em;

	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
	-o-border-radius: .25em;
	border-radius: .25em;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	color: #fff;
	border: none;
}
#content .section .browse a:hover {
	background: #8d3026;
}
#content .section .browse:before {
	display: none;
}

/* Buttons & Icons */
a.btn,
.btn {
	color: #555;
	border-color: #CCC #CCC #AAA #AAA;
}
a.btn.btn-primary, .btn.btn-primary {
	color: #fff;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a.btn-primary:hover, .btn-primary:hover {
	background: #8d3026;
}

#page_options {
	right: 30px;
}
#page_options .btn,
#content-header-extra .btn {
	background: #6aa6db;
	border: none;
	color: #fff;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;

	text-shadow: none;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#page_options .btn:hover,
#content-header-extra .btn:hover {
	background: #8d3026;
	border: none;
	color: #fff;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;

	text-shadow: none;
}

#content-header-extra a.all {
	padding: 0.4em 0.91em 0.4em 0.91em;
}

#page_options .btn:before,
#content-header-extra .btn:before {
	background: transparent;
}
#page_options .opposite:before,
#content-header-extra .opposite:before {
	background: transparent;
	border-right: none;
	border-left: 1px solid #e9e9e9;
}
/*.edit-member:before {
	content: "\f007";
}
.author:before {
	content: "\f007";
}
.browse:before {
	content: "\f00b";
	margin-right: 0.3em;
}*/

#page_options .edit:before {
	content: "";
	margin-right: 0;
}
#content #system-message {
	margin: 0 0 30px 0;
}
#content .section #system-message {
	margin: 0 0 30px 0;
}

/* HUB Forms */
#hubForm {
	position: relative;
}
/* Side fade */
#hubForm small.hubform-before,
#hubForm:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	height: auto;
	border: 0;
	_display: none;
	width: 1px;
	background-color: #ddd;
	right: 232px;
}
#hubForm.login .explaination small.explaination-after,
#hubForm.login .explaination:first-child:after {
	display: none;
}
#hubForm fieldset {
	color: #777;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 0 0px 1.75em 0px;
	margin: 0.7em 270px 1.7em 0;
}
#hubForm .explaination + fieldset {
	margin-right: 0px;
    clear: left;
}
#hubForm legend {
	display: block;
	float: right;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 1em 0;
	padding: 0.8em 2em;
	*padding: 0.8em 0;
	*text-indent: 2em;
	font-weight: bold;
	background: #d1d6e7;
	color: #414141;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#hubForm legend:before,
#hubForm legend:after {
	content: "";
	display: table;
	line-height: 0;
}
#hubForm legend:after {
	clear: both;
}
#hubForm label {
	display: block;
	padding: 1.5em 2em 0 2em;
}
#hubForm .input-wrap {
	padding: 1.5em 2em 0 2em;
}
#hubForm .input-wrap label {
	padding: 0;
}
#hubForm input,
#hubForm select,
#hubForm textarea {
	margin-top: 0.25em;
	width: 100%;
}
#hubForm.full fieldset {
	margin: 0.7em 0 1.7em 0;
}
#hubForm.full:before,
#hubForm.full:after {
	display: none;
}
#hubForm.full fieldset fieldset,
#hubForm fieldset fieldset {
	margin: 1.5em 2em;
	padding: 0 0 1.5em 0;
	border: 1px solid #e5e5e5;
	float: none;
	width: auto;
}
#hubForm fieldset fieldset label {
	padding-top: 0.7em;
}
#hubForm fieldset fieldset legend {
	float: none;
	background: #fff;
	color: #747474;
	border: none;
	width: auto;
	padding: 0 1em;
	margin: 0 0 0 1em;
	text-indent: 0;
	text-shadow: none;
	font-size: 1em;
}
#hubForm.full fieldset fieldset fieldset,
#hubForm fieldset fieldset fieldset {
	margin: 0;
	padding: 0;
	border: none;
	float: none;
	width: auto;
}
#hubForm fieldset fieldset fieldset label {
	margin-left: 1.75em;
}
#hubForm fieldset fieldset fieldset legend label {
	margin-left: 0;
}
#hubForm .options label,
#hubForm .options input,
#hubForm .option {
	display: inline;
	margin: 0 0.25em 0 0 !important;
	margin: 0;
	width: auto;
}
#hubForm .indent {
	margin-left: 1.75em;
}
#hubForm .group {
	margin: 0 2em;
}
#hubForm .field-wrap,
#hubForm p {
	display: block;
	margin: 1.5em 2em 0 2em;
}
#hubForm span.field-wrap,
#hubForm label + .field-wrap {
	margin: 0 2em 0 2em;
}
#hubForm legend + .group label{
	padding-top: 0.5em;
}
#hubForm legend + .group p {
	margin-top: 0.5em;
}
#hubForm label + input {
	margin-left: 2em;
	margin-right: 2em;
	width: 92.5%;
}
#hubForm .group label,
#hubForm .group p {
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 47.5%;
	margin-left: 5%;
}
#hubForm .group p {
	margin-right: 0;
}
#hubForm .group label:first-child {
	margin-left: 0;
}
#hubForm .threeup label {
	width: 30%;
}
#hubForm .group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#hubForm .group .options label {
	display: inline;
	float: none;
	width: auto;
}
#hubForm label em {
	display: block;
	margin: -1.5em 0 0 10em;
	text-align: right;
	font: inherit;
	color: #aa9;
}
#hubForm .submit {
	padding: 1em 0 0 0;
	text-align: center;
	margin-right: 30%;
}
#hubForm.full .submit {
	margin-right: 0;
}
#hubForm .submit input {
	display: inline;
	width: auto;
}
#hubForm .inactive {
	color: #aa9;
}
#hubForm .explaination {
	float: right;
	min-height: 10px;
	width: 210px;
	padding: 10px 0 0 30px;
	margin: 0 0 0 30px;
	border-top: 1px solid #ddd;
	position: relative;
	padding: 10px 0 0 22px;
}
#hubForm .explaination a:hover {
	color: #222;
}
#hubForm .explaination p {
	margin: 1em 0;
}
#hubForm .explaination h2 {
	position: relative;
	margin: 1.5em 0 0.5em;
	padding: 0;
	border: none;
	width: 100%;
}
#hubForm .explaination ul {
	position: relative;
	list-style: none;
	color: #57b;
}
#hubForm .optional,
#hubForm .required {
	text-transform: uppercase;
	font-size: xx-small;
}
#hubForm .required {
	color: red;
}
#hubForm .optional {
	color: #999;
}
#hubForm .hint {
	color: #999;
	font-size: 90%;
}
#hubForm span.hint {
	line-height: 2em;
}
#hubForm .warning,
#hubForm .error {
	margin-top: 0;
}
#hubForm fieldset .error,
#hubForm fieldset .warning,
#hubForm fieldset .information,
#hubForm fieldset .help {
	margin: 1em 2em;
}
#hubForm ul {
	margin: 1em 2em;
}
#hubForm ul li {
	margin-left: 2em;
}
#hubForm ul li.error {
	margin-left: 0;
}
#hubForm span.warning,
#hubForm span.information,
#hubForm span.help,
#hubForm span.error {
	margin: 0.5em 0 0 0;
	display: inline-block;
}
#hubForm .error p,
#hubForm .warning p,
#hubForm .information p,
#hubForm .help p {
	margin: 1em 0;
}
#hubForm table {
	margin: 1em 0;
	border-top: 2px solid #DEE4CD;
	border-color: #DEE4CD;
}
#hubForm table td,
#hubForm table th {
	border-color: #DEE4CD;
}
#hubForm table input,
#hubForm table select {
	width: auto;
}
#hubForm fieldset fieldset.fieldsWithErrors,
#hubForm .fieldsWithErrors {
	border: 1px solid #c00;
}
#hubForm fieldset fieldset.fieldsWithErrors legend,
#hubForm .fieldWithErrors {
	color: #c00;
	font-weight: bold;
}
#hubForm .fieldWithErrors input,
#hubForm .fieldWithErrors select,
#hubForm .fieldWithErrors textarea {
	background-color: #F8E5E5;
}
#hubForm .fieldWithErrors .required,
#hubForm .fieldWithErrors .optional {
	font-weight: normal;
}
#hubForm table input,
#hubForm table select {
	width: auto;
}

.com_content .subject #hubForm fieldset {
	margin-bottom: 1em;
	padding-bottom: 1em;
}
.com_content .edit-form #hubForm {
	border-color: #fff;
}
.subject #hubForm fieldset fieldset {
	padding: 0 1em 1em 1em;
	margin-top: 1em;
}
.subject #hubForm .submit {
	margin-right: 0;
}

/* Item listing */
.results {
	list-style: none;
	margin: 1em 0 1em 0;
	padding: 0;
	position: relative;
	border-top: 1px dotted #bAbAbA;
	border-bottom: none;
}
.entries li,
.results li {
	border-bottom: 1px solid #dadada;
	padding: 1em 0 1em 1em;
	margin: 0;
	list-style: none;
}
.results p,
.results .details {
	margin: 0.5em 0;
	padding: 0;
}
.entries .details,
.results .details {
	font-size: 90%;
	color: #999;
}
.entries .details span,
.results .details span {
	color: #fff;
	margin: 0 0.5em;
}
.results .details span.highlight {
	color: #333;
	margin: 0;
}
.results .details a span.highlight {
	color: #6699cc;
}
.entries .title,
.results .title {
	margin-left: -1em;
	font-weight: bold;
}
.entries .metadata,
.results .metadata {
	margin: -1.2em 0 0 0;
	float: right;
	width: 190px;
	background: none;
	border: none;
	padding: 0;
}
.entries .metadata p,
.results .metadata p {
	color: #999;
	font-size: 90%;
	margin: 0 0 0.5em 0;
	padding: 0;
}
.entries .href,
.results .href {
	font-size: 85%;
	color: green;
}
.results .protected .title:before {
	font-family: 'Fontcons';
	content: '\f048';
	margin-right: 0.2em;
	color: #555;
}
.results .private .title:before {
	font-family: 'Fontcons';
	content: '\f023';
	margin-right: 0.2em;
	color: #555;
}

/* 5 star Reviews */
.avgrating {
	padding-left: 0;
}
.avgrating span {
	padding-left: 1em;
}
.avgrating:before {
	font-family: 'Fontcons';
	font-size: 12px;
	line-height: 12px;
}
.no-stars:before        { content: "\2606\2606\2606\2606\2606"; }
.half-stars:before      { content: "\f089\2606\2606\2606\2606"; }
.one-stars:before       { content: "\2605\2606\2606\2606\2606"; }
.onehalf-stars:before   { content: "\2605\f089\2606\2606\2606"; }
.two-stars:before       { content: "\2605\2605\2606\2606\2606"; }
.twohalf-stars:before   { content: "\2605\2605\f089\2606\2606"; }
.three-stars:before     { content: "\2605\2605\2605\2606\2606"; }
.threehalf-stars:before { content: "\2605\2605\2605\f089\2606"; }
.four-stars:before      { content: "\2605\2605\2605\2605\2606"; }
.fourhalf-stars:before  { content: "\2605\2605\2605\2605\f089"; }
.five-stars:before      { content: "\2605\2605\2605\2605\2605"; }

/* Squeezebox */
.body-overlayed embed,
.body-overlayed object,
.body-overlayed select {
	visibility: hidden;
}
#sbox-window embed,
#sbox-window object,
#sbox-window select {
	visibility: visible;
}
#sbox-overlay {
	position: absolute;
	background-color: #000;
	-webkit-filter: blur(10px);
}
#sbox-window {
	position: absolute;
	background-color: #000;
	text-align: left;
	overflow: visible;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
#sbox-btn-close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -15px;
	top: -15px;
	background: url("../images/overlay/closebox.png") no-repeat top left;
	border: none;
}
#sbox-btn-close:hover {
	border: none;
}
#sbox-resizehandle {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -15px;
	bottom: -15px;
	background: url("../images/overlay/resizebox.png") no-repeat top left;
	border: none;
	cursor: se-resize;
}
#sbox-newwindow {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 25px;
	bottom: -15px;
	background: url("../images/overlay/newwindowbox.png") no-repeat top left;
	border: none;
	cursor: pointer;
}
.sbox-loading #sbox-content {
	background-image: url("../images/anim/spinner.gif");
	background-repeat: no-repeat;
	background-position: center;
}
#sbox-content {
	clear: both;
	overflow: auto;
	background-color: #fff;
	height: 100%;
	width: 100%;
}
.sbox-content-image#sbox-content {
	overflow: visible;
}
#sbox-image {
	display: block;
}
.sbox-content-image img {
	display: block;
}
.sbox-content-iframe#sbox-content {
	overflow: visible;
}

/* Forms */
#sbox-content #content-header,
#sbox-content .explaination,
#sbox-content .aside {
	display: none;
}
#sbox-content .main,
#sbox-content .subject,
#sbox-content .mian .subject,
#sbox-content .withleft,
#sbox-content form#hubForm {
	margin: 0;
	padding: 0;
	border: none;
	height: auto;
	overflow: hidden;
}
#sbox-content fieldset {
	padding: 0;
	margin: 0;
	width: 100%;
	border: none;
	background-color: transparent;
}
#sbox-content fieldset legend {
	margin: 0;
	padding: 0.5em 1em;
	width: 100%;
	position: inherit;
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #757575;
	color: #555;
	text-shadow: 0px 1px 0px #e5e5ee;
	background: #a2a2a2;
	background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#a2a2a2));
	background: -webkit-linear-gradient(#c4c4c4, #a2a2a2);
	background: -moz-linear-gradient(center top, #c4c4c4 0%, #a2a2a2 100%);
	background: -moz-gradient(center top, #c4c4c4 0%, #a2a2a2 100%);
	background: -o-linear-gradient(#c4c4c4, #a2a2a2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c4c4c4,endColorstr=#a2a2a2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c4c4c4, endColorstr=#a2a2a2)";
}
#sbox-content fieldset label {
	margin: 0;
	padding: 0.5em 1em;
	border-bottom: 1px solid #ccc;
	display: block;
}
#sbox-content fieldset input,
#sbox-content fieldset select,
#sbox-content fieldset textarea {
	margin-top: 0.25em;
	width: 100%;
}
#sbox-content fieldset label textarea#msg-message {
	margin-bottom: 0.5em;
	height: 175px;
}
#sbox-content .submit {
	margin: 0;
	padding: 0.5em 1em;
	text-align: center;
}

/*
System styles
	Here we're overriding some defaults set in the various /media/system/css files added
	to the template BEFORE main.css.
*/
.subject .container h3,
.container-block h3 {
	background: #f8f8f8;
	background-image: none;
}

.entry-search input[type="text"],
.entry-search input {
	background: #fff url("../images/layout/search.png") 10px 50% no-repeat;
	padding-left: 30px;
	border: none;
}

.data-entry input.entry-search-submit {
	border: none;
	background: #32343f;
	color: #fff;
	text-shadow: none;

	-webkit-border-radius: 0 .25em .25em 0;
	-moz-border-radius: 0 .25em .25em 0;
	-ms-border-radius: 0 .25em .25em 0;
	-o-border-radius: 0 .25em .25em 0;
	border-radius: 0 .25em .25em 0;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.data-entry input.entry-search-submit:hover {
	background: #8d3026;
}

.entry-search ul.textboxlist-holder,
.entry-search ul.token-input-list-act {
	background: #fff url("../images/layout/tags.png") 5px 50% no-repeat;
	padding-left: 23px;
}
.entry-search ul.token-input-list-act li input[type="text"],
.entry-search ul.token-input-list-act li input,
.entry-search ul.textboxlist-holder li input {
	background: #fff;
	border: none !important;
	padding-bottom: 6px;
}
/* [!] Target Opera */
html.opera .entry-search ul.token-input-list-act li input[type="text"],
html.opera .entry-search ul.token-input-list-act li input,
html.opera .entry-search ul.textboxlist-holder li input {
	padding-bottom: 8px;
}
/* [!] Target Firefox */
@-moz-document url-prefix() {
	.entry-search ul.token-input-list-act li input[type="text"],
	.entry-search ul.token-input-list-act li input,
	.entry-search ul.textboxlist-holder li input {
		padding-bottom: 8px;
	}
}

ol.comments .addcomment {
	background: #eee url("../images/layout/noise-lite.png");
}
body #content form.search {
	/* border: 1px solid #f9f9f9 */
}
#section-plan {
	background: #f1f1f1 url("../images/layout/noise-lite.png");
}
#content-header-extra .search:before {
	content: "\f002";
	font-family: "Fontcons";
}
.voting .vote-button,
.voting a.vote-button {
	background: url("../images/layout/stripes.png");
}

body #fav {
	top: -4.75em;
	position: absolute;
	right: 30px;
	margin: 0;
	padding: 0;
	background: transparent;
}
body #fav:hover {
	background: transparent;
}
body #fav a {
	margin: 0;
	padding: 0.5em 1em;
	background: #000;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-ms-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.5em;
	color: #fff;
}
body #fav a:hover {
	background: rgba(0, 0, 0, 0.6);
	border-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	color: #fff;
}

body #page_options li#personalize a {
	line-height: 1;
}
body .com_resources .upperpane {
	background-color: #fff;
}
#commentform input.option,
#commentform select.option {
	margin-top: 0;
}

#browse-type {
	height: 1.8em;
}

#tagBrowserForm input[type="submit"] {
	line-height: 1;
	padding: 0.4em 1em;
	border: none;
}

/* Custom */

.theme-dri {
	color: #ee9821 !important;
}
.theme-u2u {
	color: #dae12d !important;
}
.theme-water {
	color: #32a9e0 !important;
}
.theme-geospace {
	color: #10e8ba !important;
}
.theme-geoshare {
	color: #ee9821 !important;
}

.article-info {
	display: none;
}


/* Fonts */

@font-face {
	font-family: 'latobold';
	src: url('fonts/lato-bol-webfont.eot');
	src: url('fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lato-bol-webfont.woff') format('woff'),
	url('fonts/lato-bol-webfont.ttf') format('truetype'),
	url('fonts/lato-bol-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'latohairline';
	src: url('fonts/lato-hai-webfont.eot');
	src: url('fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lato-hai-webfont.woff') format('woff'),
	url('fonts/lato-hai-webfont.ttf') format('truetype'),
	url('fonts/lato-hai-webfont.svg#latohairline') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'latolight';
	src: url('fonts/lato-lig-webfont.eot');
	src: url('fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lato-lig-webfont.woff') format('woff'),
	url('fonts/lato-lig-webfont.ttf') format('truetype'),
	url('fonts/lato-lig-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'latoregular';
	src: url('fonts/lato-reg-webfont.eot');
	src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lato-reg-webfont.woff') format('woff'),
	url('fonts/lato-reg-webfont.ttf') format('truetype'),
	url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'latoblack';
	src: url('fonts/lato-bla-webfont.eot');
	src: url('fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lato-bla-webfont.woff') format('woff'),
	url('fonts/lato-bla-webfont.ttf') format('truetype'),
	url('fonts/lato-bla-webfont.svg#latoblack') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* GABBS */
a.btn-sq-lg, .btn-sq-lg {
	width: 150px !important;
	height: 50px !important;
	outline: 0 none;
	background: #AED35E;
	border-color: #AED35E;
	color: #ffffff;
	font-size:16px;
	border-radius:0;
	box-shadow: none;
	text-shadow: none;
	margin: 40px;
}

.btn-sq-lg:focus, .btn-sq-lg:active:focus, .btn-sq-lg.active:focus {
	outline: none;
	background: #ffffff;
	color: #202128;

}

a.btn-sq-lg:hover, .btn-sq-lg:hover {
	outline: 0 none;
	background: #ffffff;
	border-color: #202128;
	color: #202128;
}

.dark-blue {
	background-color: #202128;
	padding: 30px;
	margin-left: -30px;
	margin-right: -30px;
}

