<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> 玉米專家系統</title>
<!-- favicon -->
<link rel="shortcut icon" href="/assets/images/corn.ico" type="image/x-icon">
<!-- fontawesome.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
<!-- bootstrap.css -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<!-- style.css 我有把?style.css去掉-->
<link rel="stylesheet" href="/assets/css/style.css">
